header{
    position: fixed;
    background-color:rgb(172, 216, 236);
    width: 100%;
    padding: 10px;
    display: block;
    z-index: 100;
}


.container{
    margin: 20px auto;
    max-width: 1140px;
    width: 100%;
    display: block;   
}
